.main-footer{
   padding-top: 100px;
}


.footer-title{
    font-size: 30px;
    margin-bottom: 25px;
    font-weight: 600;
    line-height: 1.2;
    text-transform: capitalize;
    color: white !important;
}
.footer-list:hover{
color: red;
}
.footer-title{
    color: white !important;
}
.locate-item p{
    font-size: 15px;
}

.footer-input-field{
border: 1px solid gray;
display: flex;
}
.footer-input{
    background-color: transparent;
    padding: 10px 20px;
    width: 100%;
    margin-bottom: 10px;
    outline: none;
}